*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #0f172a;
    color:white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: sans-serif;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

nav,section{
    display: flex;
    align-items: center;
    gap: 15px;
}

a{
    text-decoration: none;
    font-size: 0.8em;
}

a:hover{
    text-decoration: underline;

}

.greyLink{
    color:lightgrey;
}

.whiteLink{
    color: white;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 15px 0;
}

.logo{
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.searchBar{
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
    gap: 15px;
    border: 1px solid grey;
    padding: 14px;
    border-radius: 24px;
}

.searchBar:hover{
    border-color: transparent;
    background: #334155;
}

input{
    background: transparent;
    outline: none;
    border: unset;
    color: white;
    flex: 1;
}

.searchButtonsContainer{
    display: flex;
    gap: 14px;
    align-items: center;
}

.searchButtonsContainer button{
    padding: 10px 14px;
    border-radius: 4px;
    background: #334155;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

.searchButtonsContainer button:hover{
    border: 1px solid darkgrey
}

.languageSelection{
    font-size: 0.9em;
}

.languageSelection span{
    color: cyan
}

footer{
    display: flex;
    flex-direction: column;
}

footer > section{
    padding: 15px;
}

footer > section:last-child{
    border-top: 1px solid darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-link{
    display: flex;
    align-items: center;
    gap: 14px
}

.footer-link a{
    cursor: pointer;
}

.icon-buttons{
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.iconButtonContainer{
    display: flex;
    align-items: center;
    gap: 14px;
}

header img{
    max-width:  45px;
    border-radius: 50%;
    border: 2px solid cyan;
}

@media (min-width: 540px){
    footer>section:last-child{
        flex-direction: row;
    }
}